.about-page {
  color: white;
  font-weight: bold;
  padding: 0 10%;
  display: flex;
  background: rgb(72, 76, 72);
  background: linear-gradient(
    214deg,
    rgba(72, 76, 72, 1) 0%,
    rgba(22, 29, 23, 1) 100%
  );
  justify-content: flex-start;
  align-items: center;
  height: auto;
  min-height: 100vh;
}

.title {
  color: rgb(35, 111, 182);
  font-weight: bold;
  font-family: 'Bruno Ace', cursive;
}

.about {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding-top: 100px;
}

.about h1 {
  font-size: 22px;
}

.about button {
  font-weight: bold;
  width: 90px;
  font-size: 10px;
}

.logo {
  width: 50px;
}

.avatar {
  width: 300px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.651);
  background-color: rgb(22, 21, 21);
}

@media (max-width: 944px) {
  .about {
    flex-direction: column;
    justify-content: center;
  }
  .avatar {
    width: 200px;
  }
  .about-page {
    padding: 20px;
  }
}

@keyframes about {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.about {
  animation-name: about;
  animation-duration: 1s;
}
