.carrousel h4 {
  font-size: 22px;
  font-weight: bold;
  font-family: 'Bruno Ace', cursive;
}



@media(max-width:300px){
  .carrousel h4 {
    font-size: 18px;
  }
  .carrousel button {
    font-size: 8px;
  }
}