.filtered {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
}

.filtered h1 {
  color: rgb(36, 126, 49) 100%;
  font-weight: bold;
  font-family: 'Bruno Ace', cursive;
  font-size: 20px;
}

.filtered-movie {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  gap: 5px;
  padding-top: 20px;
}
.movie {
  display: flex;
  flex-direction: column;
}

.movie img {
  width: 120px;
  height: 180px;
}

@media (max-width: 850px) {
  .movie img {
    width: 90px;
    height: 140px;
  }
  .filtered {
    justify-content: center;
    align-items: center;
    padding: 6px;
  }
  .posters {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 300px) {
  .movie img {
    width: 60px;
    height: 90px;
  }
  .all-movies {
    justify-content: center;
    align-items: center;
    padding: 6px;
  }
  .posters {
    justify-content: center;
    align-items: center;
  }
}
