.footer {
  background: rgb(9, 77, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 77, 121, 1) 0%,
    rgba(10, 130, 154, 1) 77%
  );
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  flex-direction: column;
  gap: 40px;
}

.icon-section h2 {
  color: rgb(122, 236, 160);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.685);
  font-family: 'Bruno Ace', cursive;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

p {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  color: white;
}

@media (max-width: 300px) {
  .footer {
    padding-left: 5px;
    padding-right: 5px;
  }
}
