.home {
    display: grid;
    width: 100%;
    grid-template:
      "header" auto
      "mainbox" auto
      "footer" auto;
    scroll-behavior: smooth;
  }
  
  .header {
    grid-area: header;
  }
  
  .mainbox {
    grid-area: mainbox;
  }
  
  .footer {
    grid-area: footer;
  }


  
  @media (min-width: 250px) {
    .home {
      grid-template:
        "header" auto
        "mainbox" auto
        "footer" auto;
      scroll-behavior: smooth;
    }
  }
  