.movies {
  display: grid;
  padding-top: 80px;
  height: auto;
  min-height: 100vh;
  grid-template:
    "search-section" auto
    "all-movies" auto;
  scroll-behavior: smooth;
}

.search-section{
  grid-area: search-section;
  padding: 0 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: white;
  animation-name: search-section;
  animation-duration: 1s;
  gap: 5px;
}

.search-section img {
  width: 120px;
}


.search-section h1 {
  color: rgb(35, 111, 182);
  font-weight: bold;
  font-family: 'Bruno Ace', cursive;
  font-size: 35px;
}

.all-movies {
  grid-area: all-movies;
}

@media (max-width: 850px) {
  .search-section img {
    width: 100px;
  }
  .search-section {
    padding: 20px;
  }
}

@media(max-width:300px){
  .search-section img {
    width: 100px;
  }
  .search-section {
    padding: 20px;
  }
}

@media (min-width: 250px) {
  .movies {
    display: grid;
    padding-top: 80px;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: rgb(35, 37, 37);
    grid-template:
      "search-section" auto
      "all-movies" auto;
    scroll-behavior: smooth;
  }
}

@keyframes search-section {
  0% {
    transform: translatey(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
