.premiere img {
  width: 200px;
}

.logo-page {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.logo-page img {
  width: 50px;
}



.premiere {
  color: white;
  padding-bottom: 20px;
  gap: 10px;
  font-size: 14px;
}




@media(max-width:300px){
 .premiere img {
  width: 120px;
 }
 .premiere h2 {
  font-size: 20px;
 }
 .logo-page img {
  width: 40px;
}

.logo-page h4 {
  font-family: 'Permanent Marker', cursive;
  color: rgb(122, 236, 160);
  font-size: 25px;
}
}
