.premiere img {
  width: 200px;
}

.logo-page {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.logo-page img {
  width: 50px;
}

.logo-page h4 {
  color: rgb(122, 236, 160);
  font-family: 'Bruno Ace', cursive;
  font-size: 40px;
}

.premiere {
  color: white;
  padding-bottom: 20px;
  gap: 10px;
}

.premiere h2 {
  color: rgb(247, 38, 38);
}


@media(max-width:300px){
 .premiere img {
  width: 120px;
 }
 .premiere h2 {
  font-size: 20px;
 }
 .logo-page img {
  width: 40px;
}

.logo-page h4 {
  font-family: 'Permanent Marker', cursive;
  color: rgb(122, 236, 160);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.555);
  font-size: 25px;
}
}
