.register {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  padding-bottom: 20px;
  background: rgb(32, 32, 32);
    background: linear-gradient(
      214deg,
      rgb(13, 14, 13) 0%,
      rgb(87, 88, 87) 100%
    );
}

.title-y {
  font-weight: bold;
  font-family: 'Bruno Ace', cursive;
  font-size: 20px;
  color: rgb(35, 111, 182);
}

.form-register {
  display: flex;
  flex-direction: column;
  width: 350px;
  min-height: 600px;
  height: auto;
  background-color: rgba(255, 254, 254, 0.932);
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  color: black;
  padding: 10px;
  border-radius: 8px;
  animation-name: form-register;
  animation-duration: 1s;
}

.form-register button {
  background: rgb(9, 77, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 77, 121, 1) 0%,
    rgba(10, 130, 154, 1) 100%
  );
  font-size: 20px;
  color: white;
  width: 90%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.form-register button:hover {
  background: rgb(66, 163, 28);
  background: linear-gradient(
    90deg,
    rgb(41, 184, 48) 0%,
    rgb(100, 153, 30) 100%
  );
}

.input-r {
  display: flex;
  width: 100%;
}

.form-register p {
  font-size: 12px;
}

.form-register h2 {
  font-weight: bold;
}

.section-i {
  gap: 10px;
  width: 90%;
  text-align: center;
}

.subscribe-link {
  font-size: 13px;
  font-weight: bold;
  padding-top: 15px;
}

@media (max-width: 300px) {
  .form-register {
    width: 250px;
  }
}

@media only screen and (max-device-width: 1000px) and (orientation: landscape) {
  .register {
    height: auto;
    padding-top: 120px;
    padding-bottom: 30px;
  }
  .form-register {
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
  }
}

@keyframes form-register {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .form-register {
    width: 300px;
  }
}

@media (max-width: 300px) {
  .form-register {
    width: 240px;
  }
}
