.search {
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 100px;
  background: rgb(32, 32, 32);
  background: linear-gradient(
    214deg,
    rgb(13, 14, 13) 0%,
    rgb(21, 22, 21) 100%
  );
  padding-bottom: 20px;
}

.search h1 {
  color: rgb(35, 111, 182);
  font-weight: bold;
  font-family: 'Bruno Ace', cursive;
  font-size: 20px;
}
