.trailers {
  padding-top: 30px;
  padding-bottom: 30px;
}

.trailers h2 {
  color: rgb(35, 111, 182);
  font-weight: bold;
  font-family: 'Bruno Ace', cursive;
  font-size: 20px;
}

.video {
  width: 100%;
}

.modal {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  width: 60%;
}

@media(max-width:600px){
  .box {
    width: 95%;
  }
}
